

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    height: 100vh;
}

.menu {
    background-color: #f4f4f4;
    padding: 10px;
    width: 200px;
    position: fixed; /* Fixer le menu en position */
    top: 0;          /* Positionner le menu en haut de la page */
    left: 0;         /* Positionner le menu à gauche de la page */
    height: 100vh;   /* Faire en sorte que le menu prenne toute la hauteur de la page */
    overflow-y: auto; /* Permettre de défiler dans le menu si son contenu est trop grand */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optionnel : Ajouter une légère ombre */
}


/* .page {
    width: 21cm;
    height: 29,7cm; 
    margin:  auto;
    padding: 0px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    page-break-after: always; 
    
}  */

.menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    text-align: left;
}

.menu-button.active {
    background-color: #00bfff;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

 .page {
    
    width: 21cm;
    min-height: 29.7cm;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
      page-break-after: always; 

} 

.page-group {
    display: none;
    width: 21cm;
    min-height: 29.7cm;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.page-group.active {
    display: block;
}









/*CSS pour la page de garde*/





.grand-caractere {
    font-size: 24px;
    padding: 10px;  
    width: 100%;     
    box-sizing: border-box; 
    display: block;
    margin: 0,auto;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 180px;
}

#Entreprise {
    height: 30px;
    font-size: 20px;
    width: 250px;
    border: 1px solid lightgray; 

}

#Opportunite{
            
    margin-bottom: 10px; 
    display: block; 
    border: 1px solid lightgray; 
    height: 20px;
}

#Etude {
    border: 1px solid lightgray;
    height: 20px;
    display: block; 
}

#date-selection {
    border: none;
    font-size: 18px;
}

#pic-entreprise {
    margin-top: 30px;
  
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
}













 












#sommaire  {
    font-size: 20px;
}


#sommaire  h1 {
    font-size: 40px;
}

#commentaire {

    width: 700px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permet de redimensionner uniquement verticalement */

}

.schema {
    transform: rotate(90deg);
    /* Optionnel: Ajuster la taille si nécessaire */
    width: 100px;
    height: auto;
}


/* .image-container {
    width: 19cm; ;
    height: 29cm; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 0px;
    overflow: hidden;
} */

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(90deg) translateX(200px); 

    transform-origin: center; 
}




/* Cacher le menu et ajuster la mise en page lors de l'impression */
/* Cacher le menu et ajuster la mise en page lors de l'impression */
@media print {
    .menu {
        display: none;
    }
    .container {
        display: block;
    }
    .page-group {
        page-break-after: always;
    }

     @page {
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }


    .page-group:last-of-type {
        page-break-after: auto;
    }
    

    
}




/* 



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 50vh;
}

.menu {
    background-color: #f4f4f4;
    padding: 10px;
    width: 200px;
}

.menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    text-align: left;
}

.menu-button.active {
    background-color: #00bfff;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

.page-group {
    display: none;
    /* Dimension A4 : 21cm x 29.7cm *
    width: 21cm;
    min-height: 29.7cm;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.page-group.active {
    display: block;
}

/* Cacher le menu et ajuster la mise en page lors de l'impression 
@media print {
    .menu {
        display: none;
    }
    .container {
        display: block;
    }
    .page-group {
        page-break-after: always;
    }

     @page {
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }


    .page-group:last-of-type {
        page-break-after: auto;
    }
}

 */
